@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  list-style-type: none;
  font-family: "Outfit", sans-serif;
}
html {
  background-color: black;
  color: antiquewhite;
}
.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: rotate(180deg);
  filter: blur(10px);
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formGlobal {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    margin-bottom: 5px;
  }

  input {
    border-radius: 5px;
    margin-bottom: 20px;
  }

  button {
    margin-top: 25px;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.btnAddEdit {
  margin: 10px;
  padding: 0px 5px 0px 5px;
  border-radius: 50px;
  border: 1px solid black;

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
}
